{%- macro get_cercanias_line_icon(line_code, nucleus_slug="", color = "#7a99b4") %}
	{% if nucleus_slug == "madrid" and (line_code.lower() in ("c1", "c2", "c3", "c3a", "c4", "c4a", "c4b", "c5", "c6", "c7", "c8", "c8a", "c8b", "c9", "c10")) %}
		{% set image_name = "icon-cercanias-madrid-" + line_code.lower() %}
		<div class="line-chip-icon image-line-icon">
			<img src="/static/img/lines-madrid/{{ image_name }}.svg" alt="{{ line_code }}">
		</div>
	{%- else %}
		<div class="line-chip-icon chip-icon generic-chip-icon">
			<i class="material-symbols-rounded" aria-hidden="true">directions_subway</i>
		</div>
	{%- endif %}
{%- endmacro -%}