{%- extends "base-layout.html" %}
{%- block app_content %}
<h1>Líneas {{ nucleus.name }}</h1>

<table border="1" cellpadding="6" cellspacing="0">
	<thead>
	<tr>
		<th>Line ID (Generada)</th>
		<th>Nombre corto</th>
		<th>Núcleo</th>
		<th>Direcciones</th>
	</tr>
	</thead>
	<tbody>
	{% for ln in lines %}
		<tr>
			<td>
				<a href="/lines/{{ ln.nucleus_id }}/{{ ln.line_id }}">{{ ln.line_id }}</a>
			</td>
			<td>{{ ln.short_name }}</td>
			<td>{{ repo.nucleus_name(ln.nucleus_id) }}</td>
			<td>{{ ln.directions|length }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<p>➜ <a href="/routes/{{ nucleus.slug }}">Ver rutas (raw data)</a></p>
{% endblock %}